@import "tailwindcss";

@theme {
  --color-blue-m: rgba(175, 221, 229);
  --color-off-white: #f2f2f2;
  --color-sun: #ffd650;
  --color-shade: #9370db;
  --color-green-leaf: rgba(101, 197, 105);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-avenir: var(--font-avenir);

  --font-weight-book: 400;
  --font-weight-roman: 500;
  --font-weight-heavy: 800;
}

@utility btn-primary {
  @apply rounded-md bg-blue-500 px-4 py-2 text-white;
}

/* Light mode */
:root {
  --background: var(--color-blue-m);
  --foreground: black;

  --sun: var(--color-sun);
  --shade: var(--color-shade);
  h2 {
    @apply font-heavy;
  }
  h3 {
    @apply font-heavy text-xl;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-avenir), Arial, Helvetica, sans-serif;
}

/* Leaflet */

.leaflet-container {
  @apply h-full w-full;
}

.leaflet-popup-content-wrapper {
  background-color: red;
}

.graph-selection {
  label {
    @apply font-heavy w-fit text-lg;
  }

  select,
  input {
    @apply border-1 text-lg;
  }

  > div {
    @apply flex flex-col;
  }
}

.graph-display {
  div {
    @apply flex flex-col;
  }

  > div {
    @apply rounded-lg;
  }

  label {
    @apply font-heavy text-xl;
  }

  option {
    @apply text-base;
  }
}

.grid-scaling {
  @apply grid gap-4 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
}

.card-padding-border {
  @apply bg-off-white flex flex-col gap-1 rounded-lg px-4 py-3;
}

@utility flex-col-4 {
  @apply flex flex-col gap-4;
}
