@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

/* Light mode */
:root {
  --background: white;
  --foreground: black;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.dark.gray);
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: theme(fontFamily.avenir), Arial, Helvetica, sans-serif;
  @apply w-screen;
}

/* Leaflet */

.leaflet-container {
  @apply h-full w-full;
}
